In [4]:
import re
count = 0
pattern = re.compile("Python")
matcher = pattern.finditer("Python knows the usual control flow statements that other languages speak — if, for, while and range — with some of its own twists, of course. More control flow tools in Python")
for i in matcher:
    count+=1
    print(i.start(),"....",i.end(),"...",i.group())

0 .... 6 ... Python
170 .... 176 ... Python

In [9]:
import re
pattern  = input("Enter the password: ")
password = input("Confirm the Entered password : ")
result   = re.findall(pattern, password)
if (result):
    print ("Valid password")
else:
    print ("Password not valid")

Enter the password: vaibhav@74649
Confirm the Entered password : vaibhav@74649
Valid password

In [10]:
import maskpass  # importing maskpass library
 
# prompt msg = Password and
# masking password with hashtag(#)
pwd = maskpass.askpass(prompt="Password:", mask="#")
print(pwd)

ModuleNotFoundError: No module named 'maskpass'

In [70]:
def linear_search(array, n, x):
    for i in range(0,n):
        if array[i] == x:
            print("Number found at index",i,"value:",x)
        else:
            print("Not found",i)
array  =[2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8,2,3,4,5,6,7,8]
x      =5
n      = len(array)
result = linear_search(array, n, x)

Not found 0
Not found 1
Not found 2
Number found at index 3 value: 5
Not found 4
Not found 5
Not found 6
Not found 7
Not found 8
Not found 9
Number found at index 10 value: 5
Not found 11
Not found 12
Not found 13
Not found 14
Not found 15
Not found 16
Number found at index 17 value: 5
Not found 18
Not found 19
Not found 20
Not found 21
Not found 22
Not found 23
Number found at index 24 value: 5
Not found 25
Not found 26
Not found 27
Not found 28
Not found 29
Not found 30
Number found at index 31 value: 5
Not found 32
Not found 33
Not found 34
Not found 35
Not found 36
Not found 37
Number found at index 38 value: 5
Not found 39
Not found 40
Not found 41
Not found 42
Not found 43
Not found 44
Number found at index 45 value: 5
Not found 46
Not found 47
Not found 48
Not found 49
Not found 50
Not found 51
Number found at index 52 value: 5
Not found 53
Not found 54
Not found 55
Not found 56
Not found 57
Not found 58
Number found at index 59 value: 5
Not found 60
Not found 61
Not found 62
Not found 63
Not found 64
Not found 65
Number found at index 66 value: 5
Not found 67
Not found 68
Not found 69
Not found 70
Not found 71
Not found 72
Number found at index 73 value: 5
Not found 74
Not found 75
Not found 76
Not found 77
Not found 78
Not found 79
Number found at index 80 value: 5
Not found 81
Not found 82
Not found 83
Not found 84
Not found 85
Not found 86
Number found at index 87 value: 5
Not found 88
Not found 89
Not found 90
Not found 91
Not found 92
Not found 93
Number found at index 94 value: 5
Not found 95
Not found 96
Not found 97
Not found 98
Not found 99
Not found 100
Number found at index 101 value: 5
Not found 102
Not found 103
Not found 104
Not found 105
Not found 106
Not found 107
Number found at index 108 value: 5
Not found 109
Not found 110
Not found 111
Not found 112
Not found 113
Not found 114
Number found at index 115 value: 5
Not found 116
Not found 117
Not found 118

In [150]:
#We need sorted array for Binary Search

def binary_search(array, low, high, x):
    while low<= high:
        mid = low + (high - low)//2

        if array[mid] == x:
            del array[mid]
        elif array[mid] < x:
            low = mid + 1
        else:
            high = mid - 1
array = [3,4,5,6,7,8,9]
x     = 5
result = binary_search(array, 0, len(array) - 1, x)
print("Element found at index",result,"number is ",x)
array

Element found at index None number is  5

[3, 4, 6, 7, 8, 9]

In [152]:
def bubble_sort(a):
    for i in range(len(a)):
        for j in range(0,len(a) -i-1):
            if a[j] > a[j+1]:
                (a[j], a[j+1]) = (a[j+1], a[j])
d = [-2,45,0,11,-9]
bubble_sort(d)
print("The sorted array in Ascending order is ")
print(d)

The sorted array in Ascending order is
[-9, -2, 0, 11, 45]

In [155]:
import csv
f = open("student.csv","a",newline="")
a = csv.writer(f)
p_ID      = int(input("Enter ProductID        : "))
p_name    = input    ("Enter Product Name     : ")
price     = int(input("Enter Product Price    : "))
a.writerow([p_ID,p_name,price])
print("Record has been saved")

Enter ProductID        : 101
Enter Product Name     : abc
Enter Product Price    : 100
Record has been saved

In [2]:
import pandas as pd
df = pd.read_csv("BubbleSort.csv")
df

    ProductID Product_Name  Price
0         101          abc    100
1         102          xyz    500
2         103          ebc    150
3         104          vvv    300
4         105          ccc    200
5         106          hhh   1000
6         107          uuu   5000
7         108          kkk   3000
8         109          jjj   2500
9         110          kkk   4500
10        111          rrr   2999
11        112          ggg   3999

In [12]:
df.loc[:,"Price"]

0      100
1      150
2      200
3      300
4      500
5     1000
6     2500
7     2999
8     3000
9     3999
10    4500
11    5000
Name: Price, dtype: int64

In [13]:
df.sort_values(by = ['Price'])

    ProductID Product_Name  Price
0         101          abc    100
1         102          xyz    150
2         103          ebc    200
3         104          vvv    300
4         105          ccc    500
5         106          hhh   1000
6         107          uuu   2500
7         108          kkk   2999
8         109          jjj   3000
9         110          kkk   3999
10        111          rrr   4500
11        112          ggg   5000

In [14]:
def bubble_sort(a):
    for i in range(len(a)):
        for j in range(0,len(a) -i-1):
            if a[j] > a[j+1]:
                (a[j], a[j+1]) = (a[j+1], a[j])
d = df.loc[:,"Price"]
bubble_sort(d)
print("The sorted array in Ascending order is ")
print(d)

The sorted array in Ascending order is
0      100
1      150
2      200
3      300
4      500
5     1000
6     2500
7     2999
8     3000
9     3999
10    4500
11    5000
Name: Price, dtype: int64

In [15]:
df

    ProductID Product_Name  Price
0         101          abc    100
1         102          xyz    150
2         103          ebc    200
3         104          vvv    300
4         105          ccc    500
5         106          hhh   1000
6         107          uuu   2500
7         108          kkk   2999
8         109          jjj   3000
9         110          kkk   3999
10        111          rrr   4500
11        112          ggg   5000